* {
    margin: 5px;
}

body {
    font-family: "Nunito Sans", sans-serif;
    background-color: beige;
    text-align: center;
}

img {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    border-radius: 30px;
    margin: 20px;
}

ul {
    list-style-type: none;
}

.ingredients {
    margin: 30px;
}

.preparation {
    margin: 30px;
}